#  MDSC- 201(p)

## Name : V.Sai Kumar 
## Reg.no : 22235

In [2]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.0     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.1     ✔ tibble    3.1.8
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [25]:
as_tibble(iris) ## Loading the data set into the tibble

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [26]:
T <- tibble(    ##Creating the tibble(i.e Table)
  x = 67,
  y=1,
  z=x+y
)

In [9]:
print(T)

# A tibble: 1 × 3
      x     y     z
  <dbl> <dbl> <dbl>
1   1.5     1   2.5

In [28]:
tibble(a,b=a**2,c=1)

  a b  c
1 1  1 1
2 2  4 1
3 3  9 1
4 4 16 1
5 5 25 1

In [29]:
tibble(x = runif(10),y=x*7) # creating the tibble with random values

   x          y
1  0.58115354 4.0680748
2  0.07631622 0.5342136
3  0.31874733 2.2312313
4  0.53563567 3.7494497
5  0.09298746 0.6509122
6  0.99858237 6.9900766
7  0.80998020 5.6698614
8  0.08734112 0.6113879
9  0.17087710 1.1961397
10 0.76220239 5.3354168

In [32]:
print(as_tibble(mtcars),n=3)  ## mtcars dataset into the tibble

# A tibble: 32 × 11
    mpg   cyl  disp    hp  drat    wt  qsec    vs    am  gear  carb
  <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl>
1  21       6   160   110  3.9   2.62  16.5     0     1     4     4
2  21       6   160   110  3.9   2.88  17.0     0     1     4     4
3  22.8     4   108    93  3.85  2.32  18.6     1     1     4     1
# … with 29 more rows

In [33]:
data <- data.frame(a = 1:3, b = letters[1:3], c = Sys.Date() - 1:3)
data
as_tibble(data) ## Now from the data frame to tibble

  a b c
1 1 a 2023-04-10
2 2 b 2023-04-09
3 3 c 2023-04-08

  a b c
1 1 a 2023-04-10
2 2 b 2023-04-09
3 3 c 2023-04-08

In [34]:
tibble(x= 1:5, y=1, z= x*3-y)  

## creating the new tibble from column vectors

  x y z
1 1 1  2
2 2 1  5
3 3 1  8
4 4 1 11
5 5 1 14

In [35]:
ltibble <- tibble(x = 1:3,y = list(1:5, 1:10, 1:20))
ltibble # creating the new tibble from list

  x y
1 1 1, 2, 3, 4, 5
2 2 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
3 3 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20

In [24]:


# Create an empty tibble
my_tibble <- tibble()

# Add rows to the tibble
my_tibble <- rbind(my_tibble, tibble(x = 1, y = 2))
my_tibble <- rbind(my_tibble, tibble(x = 3, y = 4))
my_tibble <- rbind(my_tibble, tibble(x = 5, y = 6))

# Print the final tibble
print(my_tibble)

# A tibble: 3 × 2
      x     y
  <dbl> <dbl>
1     1     2
2     3     4
3     5     6