##  Inbuilt Functions  in R

In [12]:
a<- seq(1:70)  ## seq gives the sequence of numbers btw the given range
print(a)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50
[51] 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70

In [7]:
mean(a)  ## mean gives the mean of the given numbers

[1] 35.5

In [14]:
b<- sum(a)  ## sum gives the sum of given numbers
print(b)

[1] 2485

## User Defined Functions

In [20]:
cube<- function(c)   ## Creating a function which gives cubes of numbers till the given number starting from 1 
{                    ## with argument c
    for(i in 1:c)
    {
        d = i^3
        print(d)
    }
}

In [21]:
cube(5) ## calling the function along with the argument

[1] 1
[1] 8
[1] 27
[1] 64
[1] 125

### Function without an argument

In [23]:
cube<- function( )   ## Creating a function which gives cubes of numbers till the given number starting from 1
{
    for(i in 1:5)    ## without  argument 
    {
        d = i^3
        print(d)
    }
}

In [25]:
cube() ## calling the function  without  the argument

[1] 1
[1] 8
[1] 27
[1] 64
[1] 125

### Function with Arguments.

In [28]:
equation <- function(a,b) ## Function with multiple arguments
{ 
x <- a**3+b**a
 print(x)
 }
equation(1,2)     ## calling with direct values
equation(a=1,b=2) ## calling with specified values

[1] 3
[1] 3

### Default Function

In [33]:
default <- function(a = 10,b =6)  ## arguments are given in the declaration 
{ z <- a*b              
print(z) 
}
default()  ## but not assigned while calling and takes the previously given values

[1] 60

### Lazy Evaluation of the function

In [38]:
 new <- function(a, b)  # function is declared with some parameters
{ print(a^2) 
print(a) 
}

In [40]:
new(2) # but while calling , not all parameters are given 
        # even then it can run without errors 
        # because it is not used inside the function

[1] 4
[1] 2

## R strings

In [44]:
a<- 'single quote.'  # valid
print(a)

[1] "single quote."

In [46]:
b <- "double quotes" # valid
print(b)

[1] "double quotes"

In [48]:
c <- "single quote ' in between double quotes"  # valid
print(c)

[1] "single quote ' in between double quotes"

In [50]:
d <- 'Double quotes " in between single quote' # valid
print(d)

[1] "Double quotes \" in between single quote"

In [53]:
e <- 'Mixed quotes"        ## invalid
print(e)

ERROR: Error in parse(text = x, srcfile = src): <text>:1:6: unexpected INCOMPLETE_STRING
3:
4:
        ^

In [56]:
f <- 'Single quote ' inside single quote'  ## invalid
print(f)

ERROR: Error in parse(text = x, srcfile = src): <text>:1:22: unexpected symbol
1: f <- 'Single quote ' inside
                         ^

In [59]:
 g <- "Double quotes " inside double quotes"  ## invalid
print(g)

ERROR: Error in parse(text = x, srcfile = src): <text>:1:24: unexpected symbol
1:  g <- "Double quotes " inside
                           ^

## String Concatenation

In [61]:
a <- "Om" 
b <- 'Sri' 
c <- "Sai Ram "

In [62]:
print(paste(a,b,c)) 
print(paste(a,b,c, sep = "-")) 
print(paste(a,b,c, sep = "", collapse = ""))

[1] "Om Sri Sai Ram "
[1] "Om-Sri-Sai Ram "
[1] "OmSriSai Ram "